* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif, cursive, fantasy, Ariel, Verdana;
}

header {
  background-color: white;
  width: auto;
  height: 20vh;
}

nav {
  padding: 0.5rem 1.5rem;
}

.flex_row {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo_area {
  gap: 0.5rem;
}

nav > div > img {
  height: 100px;
  width: 100px;
}

.logo_area > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 2rem;
}


ul {
  list-style-type: none;
  min-height: 80px;
  min-width: 400px;
  gap: 2px;
}

li {
  background-color: #181c33;
  color: white;
  padding: 5px 0px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
}
a{
  text-decoration: none;
  color:white;
  font-weight: 600;
}
section {
  min-width: auto;
  min-height: auto;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tutorText {
    padding: 40px 40px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 400px;
    gap: 23px;
    justify-content: center;
    width: 50vw;
}

.tutorText h3{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.tutorText h1{
  font-weight: 900;
}

.tutorText button{
min-height: 40px;
    min-width: 146px;
    border-radius: 25px;
    color: white;
    font-weight: 800;
    font-size: 1rem;
    background-color: #0c24cb;

}

.tutorPic img{
border-radius: 50%;
border: 20px solid white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #181c33;
  color: azure;
  min-height: 7vh;
}
